*{
    padding:0;
    margin:0
  }
  .moqups{
    font-size: 20px;
    font-family: 'Lobster', cursive;
  }
  .clearStatement{
    background-color: whitesmoke;
    background: #ecf1f5 url("../IMG/0eca.jpg") no-repeat center / contain;
  
    height: 250px;
    text-align: center
  }
  .clearStatement2{
    height: 250px;
    text-align: center
  }
  
  .Venue2{
    height: 400px;
    }
  
  
  .hstack{
      padding-top: 15px;
     
  }
  .fa-instagram{
    font-family:"FontAwesome";
    content: "\f16d";
    color: #3F729B;
    font-size: 15px;
  
  }
  .fa-facebook-square{
    font-family:"FontAwesome";
    content: "\f082";
    color: #4267B2;
    font-size: 15px;
    
  }
  .fa-twitter{
    font-family:"FontAwesome";
    content: "\f099";
    color: #00ACEE;
    font-size: 15px;
  }
  